.git
.github
node_modules
build
.adonisjs
.honeychic-tools
.env
.env.*
!.env.example
!.env.production.example
!.env.test
.idea
.vscode
vendor
storage
bootstrap
database/*.sqlite*
public/build
public/hot
public/media/uploads
*.log
coverage

public/assets